:root {
    --primary-color-100: #F5F5F5;
    --primary-color-200: #D9D9D9;
    --primary-color-300: #C4C4C4;
    --primary-color-400: #9D9D9D;
    --primary-color-500: #7B7B7B;
    --primary-color-600: #555555;
    --primary-color-700: #434343;
    --primary-color-800: #262626;
    --primary-color-900: #000000; 
}



/* ========================================================================================================= */

@font-face {
    font-family: "OpenSans";
    src: url("./fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: "OpenSans-SB";
    src: url("./fonts/OpenSans-SemiBold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "OpenSans-B";
    src: url("./fonts/OpenSans-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "OpenSans-L";
    src: url("./fonts/OpenSans-Light.ttf");
    font-weight: 300;
}

body {
    font-family: OpenSans;
    background-color: var(--primary-color-100);
    margin: 0;
}

h1, h2 {
    font-family: OpenSans-SB;
    color: var(--primary-color-800);
}

h3 {
    font-family: OpenSans-L, serif;
    color: var(--primary-color-800);
}

/* ========================================================================================================= */

nav {
    display: flex;
}

section {
    padding: 20px;
    width: 85%;
    min-height: 80px;
    margin: auto;
    display: block;
}

.section {
    display: flex;
    margin: auto;
    min-height: 80px;
    position: relative;
}

.person-entry {
    width: 30%;
    margin-left: 20px;
    margin-right: 20px;
    max-width: 500px;
}

.person-photo {
    background-color: rgb(199, 226, 255);
    background-image: url(./img/tom.png);
    background-size: cover;
    background-blend-mode: overlay;
    width: 50%;
    height: 100%;
    float: left;
    max-width: 250px;
}

.person-title {
    float: right;
    background-color: rgb(158, 158, 158);
    width: 50%;
    height: 100%;
    max-width: 250px;
}

.person-title h2 {
    margin-left: -40px;
    margin-bottom: 8px;
}

.person-title h3 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -40px;
}

.person-title p {
    margin: 18px;
    padding-bottom: 18px;
}

.person-title label {
    margin: 18px;
    padding-bottom: 18px;
}

section .cta {
    background-image: url("./img/texture.png");
    background-repeat: repeat;
    min-height: 250px;

}

.cta .content {
    margin-top: 5rem !important;
    margin-bottom: 5rem !important;
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 80%;

}

.cta-photo{
    height: 100%;
    width: 50%;
    float: right;
}

.cta-photo img {
    max-width: 30vw;
}


.cta-body {
    height: 100%;
    width: 50%;
}

.cta-body h2 {
    margin-top: 8vw;
    position: relative;
    font-size: 2.6rem;
    background-color: rgba(255, 255, 255, 0.3);
    left: 8vw;
    max-width: 95%;
}

.cta-body a {
    left: 8vw;
    position: relative;
}

.btn {
    display: inline-block;
    text-align: center;
    color: #212529;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    /* padding: .375rem .75rem; */
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 8px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-bottom: 8px;
    margin-top: 8px;
}

.btn-primary {
    color: white;
    background-color: var(--primary-color-900);
}

.btn-primary:hover {
    background: var(--primary-color-700);
}

.btn-lg {
    font-size: 1.50rem;
    padding: 8px 32px;
}

.btn-m {
    font-size: 1.25rem;
    padding: 8px 24px;
}

.btn-s {
    font-size: 1rem;
    padding: 8px 24px;
}

nav {
    display: grid;
    grid-template-columns: 1fr 0.7fr 2.3fr;
    margin: 10px;
}

nav img {
    max-width: 20rem;
    min-width: 10rem;
}

nav ul {
    float: left;
}

nav ul li{
    float: left;
    list-style-type: none;
    margin-right: 3vw;

}

nav ul li:hover{
    background-color: #7B7B7B;
    cursor: pointer;
    text-decoration: none;
}

nav a { text-decoration: none;}

header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(238, 247, 252, 0.2625) 39.17%, rgba(223, 241, 250, 0.75) 100%);
    height: 500px;
}

footer {
    display: grid;
}

.footer-1 {
    background-color: #BEE3F4;
    width: 100%;
}

.footer-2 {
    background-color: #1D84B5;
}
